body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.gray-bg{
  background-color: #e0e0e0;
}

.text-white{
  color: #fff;
}

.nomargin{
  margin: 0px;
}

.m-r-xs{
  margin-right: 5px;
}

.m-t-xs{
  margin-top: 5px;
}

.m-t-sm{
  margin-top: 10px;
}

a:hover, a:focus {
  color: #01b7f2;
  text-decoration: none;
}

.itenary-title h5{
  font-size: 16px;
  letter-spacing: 0.5px;
}

.content{
  min-height: 100vh;
  /* background: #edf1f2; */
}

#wrapper{
  position: relative;
  height: 100vh;
  /* background-color: #e0e0e0; */
}

#slider-area{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
}

#slider-area .owl-item div{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: 50% 50%;
}

#slider-area .owl-item div:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.3);
  opacity: 0.2;
  transition: all 1s;
  -webkit-transition: all 1s;
}

/* #slider-area .owl-item div:after:hover {
opacity: 1;
} */
#wrapper #logo-area{
  position: absolute;
  top: 5%;
  left: 0%;
  text-align:left;
  z-index: 10;
  width: 50%;
}
#wrapper #logo-area .img-thumbnail{
  max-height: 100px;
  max-width: 100px;
  background-color: transparent;
  border:none;
}

.content .navbar-brand{
  padding: 0;
}

.content .img-thumbnail {
  max-height: 60px;
  max-width: 60px;
  background-color: transparent;
  border: none;
  padding: 0;
}

#wrapper #nav-area{
  position: absolute;
  top: 5%;
  left: 50%;
  text-align: right;
  z-index: 10;
  width: 50%;
}

#wrapper .nav a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 15px;
}

.slider-text{
  position: absolute;
  width: 100%;
  z-index: 10;
  top:40%;
  text-align: center;
}

.slider-text h2{
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}

.slider-text p{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.shadow{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card-header{
  padding: 20px;
}

.tour-options ul{
  list-style: none;
  padding: 0;
}

.tour-options li {
  display: block;
  float: left;
  width: 50%;
}

.top-row{
  margin-top: 20px;
}





/*Custom Menu*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  zoom: 1;
}

ol, ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1200px){
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

#header {
  position: relative;
  z-index: 999;
}

#header .topnav {
  height: 30px;
  background: #01b7f2;
  width: 100%;
}

#header .topnav ul.quick-menu>li:first-child {
  margin-left: 0;
}

#header .topnav ul.quick-menu>li {
  float: left;
  margin-left: 20px;
}

#header .topnav ul.quick-menu>li>a {
  color: #fff;
  line-height: 30px;
  display: block;
  font-size: 0.8333em;
  text-transform: uppercase;
}

#header .ribbon>ul.menu {
  position: absolute;
  left: -15px;
  top: -9999px;
  z-index: 99;
  visibility: hidden;
}

ul.menu.mini li {
  padding: 0 20px;
  float: none;
  margin: 0;
}

.menu>li {
  position: relative;
}

ul.menu.mini li a {
  border-bottom: 1px solid #f5f5f5;
  display: block;
  padding: 10px 0;
  color: inherit;
  line-height: normal;
  font-size: 0.9167em;
  text-align: left;
}

#header .main-header {
  height: auto;
  position: relative;
  width: 100%;
  background-color: white;
}


#header .mobile-menu-toggle {
  background-color: #01b7f2;
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 15px;
  line-height: 1;
  display: none;
}

#header .logo {
  padding: 0;
  text-align: left;
  height: auto;
}

#header .logo a, #footer .logo a, .chaser .logo a {
  display: block;
}


#main-menu ul.menu, .chaser ul.menu {
  margin: 0;
  float: right;
}

#main-menu ul.menu>li:first-child, .chaser ul.menu>li:first-child {
  padding-left: 0;
}

#main-menu ul.menu>li, .chaser ul.menu>li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
#main-menu ul.menu li, .chaser ul.menu li {
  -webkit-backface-visibility: hidden;
  -webkit-transform: none !important;
}
.menu>li {
  position: relative;
}

#main-menu ul.menu>li>a, .chaser ul.menu>li>a {
  font-weight: normal;
  display: block;
  padding: 0;
  height: 68px;
  line-height: 68px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

#main-menu ul.menu li:not(.megamenu-menu) ul, .chaser .menu li:not(.megamenu-menu) ul, .topnav .container>ul ul, .megamenu-wrapper {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -webkit-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#main-menu ul.menu>li ul, .chaser ul.menu>li ul {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: -9999px;
  z-index: -1;
  width: 180px;
  padding: 0;
  background: #01b7f2;
}

#main-menu ul.menu>li ul li:first-child, .chaser ul.menu>li ul li:first-child {
  border-top: none;
}
#main-menu ul.menu>li ul li, .chaser ul.menu>li ul li {
  text-align: left;
  position: relative;
}

#main-menu ul.menu>li ul li>a, .chaser ul.menu>li ul li>a {
  border-top: 1px solid #04afe7;
  white-space: nowrap;
  color: #fff;
  padding: 12px 20px 12px 18px;
  display: block;
  font-size: 0.9167em;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}


@media (max-width: 991px){
  #header {
    padding-top: 0 !important;
    background: none !important;
  }
  #header .topnav {
    display: none;
  }
  #header .mobile-menu-toggle {
    display: block;
    margin-right: 15px;
  }
  #header .logo img{
    opacity: 1 !important;
    height: 60px;
    width: 60px;
  }
}

#header {
  position: relative;
  z-index: 999;
}

#header .topnav {
  height: 30px;
  background: #01b7f2;
  width: 100%;
}


#mobile-primary-menu.menu>li {
  padding: 10px;
  padding-left: 30px;
}

/* Itenary Page */

.itenerary-item{
  display: table;
  width: 100%;
  margin-top: 20px;
}

.itenary-image,
.itenary-description{
  display:table-cell;
  vertical-align: top;
}

.itenary-image{
  height: 150px;
  width: 200px;
}

.itenary-description{
  padding-left: 15px;
}
.itenary-description h4{
  font-weight: normal;
  color: #2d3e52;
}

/*End of itenary page*/


/* Better Itenary page */
a:focus, a:hover {
  color: #111;
  text-decoration: none;
  outline: 0;
}

.relative{
  position: relative;
}

.hero_in.tours_detail {
  height: 550px;
}

.hero_in {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
}

.hero_in.tours_detail .wrapper {
  background-color: #000;
  background-color: rgba(0,0,0,.6);
}

.hero_in .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero_in.tours_detail:before {
  background: url("../img/splash1.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero_in:before {
  animation: pop-in 5s .3s cubic-bezier(0,.5,0,1) forwards;
  content: "";
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero_in a.btn_photos {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 14px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  line-height: 1;
  padding: 10px 15px;
  color: #444;
  font-weight: 500;
}


.hero_in .wrapper h1 {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
.hero_in h1 {
  animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
}

.hero_in .wrapper h1 span {
  width: 80px;
  height: 4px;
  background-color: #FFC107;
  display: block;
  margin: auto auto 20px;
  border-radius: 10px;
  opacity: 1;
}

.secondary_nav {
  background: #fff;
  border-bottom: 1px solid #ededed;
  padding: 15px 0;
}
.secondary_nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
  font-size: 16px;
  font-size: 16px;
}

.secondary_nav ul li a.active {
  color: rgba(0,0,0,.9);
}

.secondary_nav ul li a {
  color: rgba(0,0,0,.5);
}

.margin_60_35 {
    padding-top: 60px;
    padding-bottom: 35px;
}

section#description h2,
section#reviews h2 {
    font-size: 24px;
}
section#description h3, section#reviews h3 {
    font-size: 21px;
}
p {
    margin-bottom: 30px;
}

ul.cbp_tmtimeline {
    margin: 45px 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #ebeef3;
    left: 18.5%;
    margin-left: -2px;
}

.cbp_tmtimeline>li {
    position: relative;
}

.cbp_tmtimeline>li .cbp_tmtime {
    display: block;
    width: 23%;
    padding-right: 80px;
    position: absolute;
}

.cbp_tmtimeline>li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline>li .cbp_tmtime span:first-child {
    font-size: 12.6px;
    color: #888;
    margin-bottom: 0;
}

.cbp_tmtimeline>li .cbp_tmtime span:last-child {
    font-size: 18px;
    font-weight: 500;
}

.cbp_tmtimeline>li .cbp_tmicon {
    width: 48px;
    height: 48px;
    font-weight: 500;
    background-color: #fff;
    text-transform: none;
    font-size: 24px;
    line-height: 50px;
    position: absolute;
    color: #f93;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #999;
    text-align: center;
    left: 18.5%;
    top: 0;
    margin: 0 0 0 -25px;
}

.cbp_tmtimeline>li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #eef3f7;
    padding: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

img.thumb_visit {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    margin-top: -5px;
    float: right;
    margin-left: 15px;
}

section#description h4, section#reviews h4 {
    font-size: 18px;
}

.cbp_tmtimeline>li .cbp_tmlabel h4 {
    margin: 0 0 5px;
    padding: 0;
    font-size: 16px;
}

.cbp_tmtimeline>li .cbp_tmlabel p {
    margin-bottom: 0;
    font-size: 13px;
}
.cbp_tmtimeline>li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #eef3f7;
    border-width: 10px;
    top: 15px;
}

.rounded-circle {
    border-radius: 50%!important;
}

section#reviews {
    border-bottom: none;
}

section#description, section#reviews {
    border-bottom: 3px solid #ededed;
    margin-bottom: 45px;
}

#review_summary {
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    -webkit-border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -ms-border-radius: 5px 5px 5px 0;
    border-radius: 5px 5px 5px 0;
}

#review_summary, .reviews-container .progress-bar {
    background-color: #0054a6;
}

#review_summary strong {
    font-size: 42px;
    display: block;
    line-height: 1;
}

strong {
    font-weight: 600;
}

#review_summary em {
    font-style: normal;
    font-weight: 500;
    display: block;
}

.reviews-container .progress {
    margin-bottom: 12px;
}

#review_summary, .reviews-container .progress-bar {
    background-color: #0054a6;
}

.reviews-container .review-box {
    position: relative;
    margin-bottom: 25px;
    padding-left: 100px;
    min-height: 100px;
}
.reviews-container .rev-thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.reviews-container .rev-thumb img {
    width: 80px;
    height: auto;
}

.reviews-container .rev-content {
    position: relative;
    padding: 25px 25px 0;
    border: 1px solid #ededed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.rating {
    color: #ccc;
}

.rating .voted {
    color: #FFC107;
}

.reviews-container .rev-info {
    font-size: 12px;
    font-size: .75rem;
    font-style: italic;
    color: #777;
    margin-bottom: 10px;
}

.cat_star i, .rating i {
    margin-right: 2px;
}
/*End of  Better Itenary page */
